* {
    margin: 0px;
    padding: 0px;
}

.main {
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 auto;
    /* background-color: black; */
    color: white;
}

.container {
    max-width: 1300px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px 10px;
}

.container-fluid {
    margin: 0 auto;
    padding: 0px;
}

nav {
    color: white;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: yellow;
}

.intro {
    /* margin: 0 auto; */
}

.header-images {
    padding: 200px 0px;
    background-image: url(../images/banner_bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section {
    background-color: black;
    color: black;
}

.title {
    text-align: center;
}

.about-boxs {
    width: 100%;
    /* display: flex; */
    margin: 0 auto;
    align-items: center;
}

.about {
    padding: 100px 20px;
}

.about h6 {
    font-weight: 700;
    color: yellow;
}

.about h3 {
    color: white;
    font-size: 45px;
    /* font-size: 50px; */
    font-weight: 700;
    color: gray;
}

.about p {
    color: white;
}

.about-boxs .about-img img {
    width: 100%;
    height: 100%;
}

.skills {
    background-color: black;
    padding-bottom: 50px;
}

.skills .title {
    color: yellow;
}

.skills-info {
    padding: 0px 20px;
}

.skills-info .list-no {
    width: 10%;
}

.skills-info .list-detail {
    width: 90%;
}

.list-no {
    font-size: 40px;
}

.list-detail h2 {
    color: yellow;
}

.list-detail h3 {
    font-size: 25px;
}

.list-detail p {
    font-size: 16px;
}

/* our-portfolio */
.our-portfolio {
    color: black;
    margin: 100px auto;
}

.our-portfolio h2 {
    font-size: 150px;
    font-weight: 700;
}

.itempage-list {
    list-style: none;
    padding: 0px;
    gap: 10px;
}

.itempage-list li {
    cursor: pointer;
}

.itempage-list li:hover {
    color: orange;
}

.p-image {
    position: relative;
    overflow: hidden;
    z-index: 999;
    margin: 10px auto;
    transition: all 1s ease-in-out;
}

.p-image .boxes {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    display: none;
    transition: all 1s ease-in-out;
}

.p-image:hover>.boxes {
    display: block;
}

.boxes-detail {
    text-align: center;
    color: white;
    padding: 25% 0;
}

.boxes-detail2 {
    text-align: center;
    color: white;
    padding: 75% 0;
}

.portfolio-images .p-image img {
    width: 100%;
    height: 100%;
}

.p-website h2{
    font-size: 45px;
}